.clock-controls{
    margin: 24px;
    padding: 16px;
    width: 400px;
}

.content {
    display: flex;
    justify-content: center;
}

.control-row {
    display: flex;
}

.toolbar-title{
    display: flex;
    justify-content: center;
    width: 100%;
}