.clock {
    align-self: center;
    margin-left: 8px;
    font-weight: 700;
}

.clock-controls{
    display: flex;
    align-items: center;
    margin: 24px;
    padding: 16px;
    width: 300px;
}

.content {
    display: flex;
    justify-content: center;
}

.control-row {
    display: flex;
    justify-content: center;
}

.info-row {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 140px;
    gap: 8px;
}

.previous-level {
    transform: scaleX(-1);
}
